* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid; */
}

.container {
    width: 1380px;
    margin: 0 auto;
}

.pos-ab {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.header-img1 {
    width: 100%;
    z-index: -1;
    top: 70px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}

.menu-right {
    display: flex;
}

.jsc {
    justify-content: space-between;
}

.align {
    align-items: center;
}

.nav-bar li {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

.nav-bar input {
    padding: 10px 0;
    border-radius: 15px;
    background: #7f7770;
    opacity: 0.471;
}

.nav-bar a {
    color: #54524f;
    font-weight: bolder;
}

.nav-bar i {
    position: absolute;
    right: 25px;
    top: 50px;
    color: #54524f;
    border: none;
}

.logo img {
    padding: 10px 0px 0px 20px;
}

.sec1-bg {
    background-image: linear-gradient(90deg, rgba(52, 52, 52, 0.046) 0%, rgb(67 64 55 / 0%) 100%), url(img/sec1.png);
    z-index: -2;
    background-position: center;
    background-size: cover
}

.sec1-text {
    margin: 50px 10px 100px;
    padding: 50px 10px 100px;
}

.sec1-text h2 {
    font-size: 92px;
    color: #deb37e;
    font-weight: 800;
    font-family: "Open Sans";
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
}

.pra1 {
    letter-spacing: 2px;
    color: #54524f;
    font-weight: 900;
    font-style: italic;
    font-family: "Open Sans";
    font-size: 25px;
    margin-top: 10px;
    padding: 5px 0;
}

.sec1-text button {
    margin-top: 40px;
    width: 160px;
    height: 40px;
    border-radius: 21px;
    background-color: white;
    color: #776c64;
    font-weight: bolder;
    font-family: "Open Sans";
    text-align: center;
    font-size: 18px;
    border: none;
}

.pra2 {
    margin: 20px;
    width: 550px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #54524f;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
}

.sec1-img1 {
    width: 100%;
    z-index: -1;
    bottom: 0;
}

.sec2-text h2 {
    font-size: 92px;
    text-transform: uppercase;
    color: #e2a355;
    font-weight: 800;
    font-family: "Open Sans";
    text-align: center;
}

.sec2-text p {
    width: 70%;
    margin: 30px auto;
    text-align: center;
    font-size: 23px;
    color: #7f7770;
    font-weight: 400;
    font-family: "Open Sans";
}

.col-25 {
    width: 25%;
    height: 480px;
    background-color: #7f7770;
    box-shadow: 10px 20px 50px #7f7770;
}

img {
    width: 100%;
}
.sec2-text2 {
    color: #ffffff;
    margin-top: 40px;
    font-weight: 600;
    font-family: "Open Sans";
}

.sec2-text2 h2 {
    padding: 20px;
    font-size: 25px;
}

.sec2-text2 p {
    padding: 15px;
    font-size: 18px;
}

.spe {
    justify-content: space-evenly;
}

.bt button {
    margin: 50px 0;
    width: 200px;
    height: 50px;
    border-radius: 23px;
    border: none;
    color: #ffffffeb;
    background: #7f7770;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Open Sans";
}

.bt {
    margin: 0 auto;
}

.col-50 {
    width: 50%;
}

.sec3-main1 {
    background-color: #7f7770;
}

.sec3-text1 {
    width: 85%;
    margin: 0 auto;
    color: #ffffff;
}

.sec3-text1 h2 {
    font-size: 63.2px;
    font-weight: 900;
    font-family: "Open Sans";
}

.sec3-text1 p {
    margin: 25px 0;
    font-size: 18px;
    font-weight: 500px;
    font-family: "Open Sans";
}

.sec3-text1 button {
    width: 180px;
    height: 50px;
    border-radius: 22px;
    background-color: #e2a355;
    color: #ffffff;
    letter-spacing: 5px;
    font-weight: 600;
    border: none;
    font-size: 15px;

}

.sec3-main2 {
    background-color: #deb37e;
}

.col-50 img {
    display: block;
}.sec4-bg {
    background-color: #7f7770;
    z-index: -2;
    top: 20px;
    opacity: 0.900;
}

.sec4-img1 {
    width: 100%;
    z-index: -1;
    top: 0px;
}

.sec4-text {
    color: #ffffff;
    margin: 100px 30px 100px;
    padding: 100px 30px 100px;
}

.sec4-text h2 {
    font-size: 70px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    padding-top: 70px;
    text-align: center;
    filter: drop-shadow(2px -4px 2px #ffffff65);
    z-index: -2;
}

.sec4-text p {
    font-size: 25px;
    padding: 40px 50px 50px 50px;
    text-align: center;
}

.sec4-img2 {
    width: 100%;
    z-index: -1;
    bottom: 0;
} 
.sec5-img1 {
    width: 100%;
    z-index: -1;
}

.sec5-bg {
    background-image: linear-gradient(100deg, rgba(52, 52, 52, 0.046) 0%, rgb(67 64 55 / 0%) 100%), url(img/img9.png);
    z-index: -2;
    background-position: center;
    background-size: cover;
    top: 80px;
    margin-bottom: 100px;
}

.sec5-text h2 {
    font-size: 76px;
    color: #deb37e;
    font-weight: 800;
    font-style: italic;
    font-family: "Open Sans";
    padding: 100px 40PX 20PX 0;
    text-align: right;
    filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.36));
}

.sec5-text p {
    font-size: 76px;
    color: #393632d0;
    font-weight: 800;
    padding: 20px 40PX 100PX 0;
    font-style: italic;
    font-family: "Open Sans";
    filter: drop-shadow(3.575px -1.286px 2.5px rgba(84, 82, 79, 0.454));
}

.sec5-text {
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px 0;
}

.sec5-img2 {
    width: 100%;
    z-index: -1;
    bottom: 0;
}
.col-30 {
    width: 30%;
    text-align: center;
    margin: 20px;

}

.sec6-text h2 {
    font-size: 34px;
    line-height: 33px;
    color: #deb37e;
    font-weight: 700;
    font-family: "Open Sans";
    margin: 50px 0 20px;
}

.sec6-text p {
    font-size: 20px;
    line-height: 30px;
    color: #776c64;
    font-weight: 500;
    font-family: "Open Sans";
}

 .sec7-text2 p {
    margin: 27px 70px 10px;
    padding: 18px 70px 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #776c64;
    font-weight: 400;
}  
.sec8-bg {
    background-color: #deb37e;
    z-index: -2;
    top: 20px;
    opacity: 0.900;
}

.sec8-img1 {
    width: 100%;
    z-index: -1;
    top: 0px;
}

.sec8-text {
    color: #ffffff;
    margin: 100px 30px 100px;
    padding: 100px 30px 100px;
}

.sec8-text h2 {
    font-size: 70px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    padding-top: 70px;
    text-align: center;
    filter: drop-shadow(2px -4px 2px #ffffff65);
    z-index: -2;
}

.sec8-text p {
    font-size: 25px;
    padding: 40px 50px 50px 50px;
    text-align: center;
}

.sec8-img2 {
    width: 100%;
    z-index: -1;
    bottom: 0;
}
.footer-bg {
    background-color: #7f7770;
    z-index: -2;
    top: 20px;
    opacity: 0.900;
    padding-bottom: 80px;
}

.footer-img1 {
    width: 100%;
    z-index: -1;
    top: 0px;
}

.col-40 {
    width: 40%;
    margin-top: 80px;
    padding-top: 80px;

}

.col-15 {
    width: 15%;
    margin-top: 80px;
    padding-top: 80px;
}


.footer-text1 li {
    display: inline-block;
}

.footer-text1 i {
    color: #ffffff ;
    margin: 10px;
    font-size: 23px;
}

.footer-text {
    color: #ffffff;
}

.canter {
    justify-content: center;
}
.footer-text p{
width: 70%;
margin: 10px 0;
}
.footer-text li{
    margin: 5px 0;
}
.footer-text{
    font-size: 18px;
}







