* {
    border: 1px solid;
}

.row {
    display: flex;
    height: 200px;

}

.flex-content-align {
    align-content:center;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
.flex-content-align div{
    flex-direction: row;
    width: 200px;
    height: 100px;
}

.align-items {
    align-items: "center";
}

.flex-justify-content {
    justify-content: center;
    height: 100px;
}
.text-center {
    text-align: center;
    height: 100px;
}
.text-center div{
    width: 200px;
}