* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid; */
}



.aling {
    align-items: center;
}

.jsc {
    justify-content: center;
}

.stestes-box {
    justify-content: space-between;
}

.header-bg1 {
    background-image: url(./img/header-img1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.menu-left ul li {
    padding: 15px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-right {
    margin-left: auto;
}

.menu-right ul li {
    display: block;
    padding: 15px;
    border: none;
}

.menu a {
    opacity: 0.980;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    font-family: sans-serif;
}

.header-bg2 {
    width: 700px;
    height: 450px;
    margin: 0 auto;
    background-color: #ffffffb7;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.920;
    text-align: center;
    border: 1px solid blue;
    margin-top: 80px;
}

.header-text h2 {
    font-size: 90px;
    color: #2c3a42;
    font-weight: 400;
    /* font-family: "Cookie"; */
    font-family: Lucida Handwriting;

}

.header-text p {
    font-size: 70px;
    color: #ad6c12;
    font-weight: 600;
    font-family: "Raleway";
}

.header-text button {
    font-size: 30px;
    color: #26363a;
    font-weight: 600;
    font-family: "Raleway";
    text-align: right;
    background-color: white;
    border: none;
    padding: 10px 20px;
}

.sec1-bg {
    background-color: #2a3b40;
}


.sec1-text1 {
    margin: 50px;
    color: #ffffff;
    font-family: sans-serif;
}



img {
    width: 100%;
}

.sec1-text1 h2 {
    font-size: 30px;
    margin: 40px 0;
}

.sec1-text1 p {
    word-spacing: 2px;
    font-size: 18px;
    line-height: 25px;
}

.sec2-bg {
    background-color: #ffffff;
    opacity: 0.800;
}

.sec2-text1 p {
    margin: 20px 0 15px 0;
    /* display: inline-block; */
}

.round {
    display: inline-block;
    border: 3px solid #1e282b;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1b2427;
}

.sec2-text1 h2 {
    font-size: 30px;
    color: #1b2427;
    font-weight: 900;
}

.pera {
    font-size: 20px;
}

.sec3-bg {
    background-image: url(./img/sec3-img1.png);
    background-position: center;
    background-size: cover;
    padding: 40px;
}

.sec3-box {
    width: 1000px;
    /* height: 900px;    */
    background-color: #ffffff;
    opacity: 0.790;
    margin: 0 auto;
}

.sec3-text1 h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: Lucida Handwriting;
    margin: 10px 0;
    color: #1b2427;
}

.sec3-text1 p {
    text-align: center;
    font-size: 35px;
    color: #ad6c12;
    font-weight: 600;
    margin: 11px 0;
}




#page>.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12 {
    grid-area: box1 box2 box3 box4 box5 box6 box7 box8 box9 box10 box11 box12;
}

#page>.box2,
.box4,
.box5,
.box7,
.box10,
.box12 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b2427;
    text-align: center;
}

.sec3-text2 h2 {
    font-size: 25px;
}

.sec3-text2 p {
    font-size: 18px;
    padding: 5px 0;
}

#page img {
    width: 100%;
    height: 100%;
}

.sec4-bg {
    background-color: #ffffff;
    opacity: 0.800;
    padding: 50px;
    text-align: center;
}

.sec4-text1 h2 {
    font-size: 35px;
    color: #1b2427;
    font-weight: 900;
}

.sec4-text1 .pera {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 23px;
}

.sec4-text2 ul li {
    display: inline-block;
    font-size: 23px;
    color: #1b2427;
    padding: 10px 10px;
}

.sec5-bg1 {
    background-image: url(./img/sec4-img1.png);
    background-position: center;
    background-size: cover;
    padding-top: 90px;
}

.sec5-bg2 {
    width: 100%;
    /* height: 650px; */
    background-color: #ffffff;
    opacity: 0.820;
    border: 1px solid blue;
    margin-top: 90px;
    padding: 50px 0;
}

.sec5-text1 {
    margin: 0 auto;
}

.sec5-text1 h2 {
    font-size: 70px;
    color: #2c3a42;
    font-weight: 600;
    font-family: Lucida Handwriting;
    text-align: center;
}

.sec5-text1 p {
    font-size: 60px;
    color: #ad6c12;
    padding: 25px 0;
    text-align: center;
}

img {
    width: 100%;
}

.col .sec5-text2 {
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 12px;
}

.sec5-text3 h2 {
    font-size: 30px;
    color: #1b2427;
    font-weight: 900;
    margin: 8px 0;
}

.sec5-text3 span {
    font-size: 20px;
    color: #1b2427;
    font-weight: 900;
}

.sec5-text3 p {
    font-size: 18px;
    color: #1b2427;
    font-weight: 300;
    margin: 8px 0;
}

.sec5-text2 {
    padding: 0 10px;
}

.pa {
    padding: 10px;
}

.discover-box1 {
    padding: 50px 0;
}

.sec6-bg img {
    display: block;
}

.sec7-bg {
    background-color: #2a3b40;
    padding: 50px 0;
}

.sec7-text1 h2 {
    font-size: 70px;
    color: #ffffff;
    font-weight: 900;
    font-family: Lucida Handwriting;
    text-align: center;
}

.sec7-jsc {
    align-items: center;
    justify-content: space-around;
}

.sec7-text2 p {
    font-size: 25px;
    padding: 8px 0;
    text-align: center;
    color: #ffffff;
}

.sec7-text2 input {
    width: 237px;
    height: 32px;
    border-radius: 8px;
    background-color: #2a3b40;
    border: 1.5px solid #ffffff;
    margin: 8px 0;
    color: #ffffff;
    padding: 0 5px;

}

.sec8-bg img {
    display: block;
}

.sec9-bg {
    background-color: #ffffff;
    opacity: 0.920;
    padding: 20px 0;
}

.sec9-text1 {
    margin: 0 auto;
}

.sec9-text1 h2 {
    font-size: 60px;
    color: #2c3a42;
    font-weight: 900;
    font-family: Lucida Handwriting;
    text-align: center;
}

.sec9-text1 p {
    font-size: 60px;
    color: #ad6c12;
    text-align: center;
    font-weight: 900;
}

.sec9-text2 {
    box-shadow: 5px 10px 10px gray;
    padding-bottom: 20px;
}

.sec9-text2 h3 {
    color: #1b2427;
    padding: 10px;
}

.sec9-text2 h2 {
    color: #1b2427;
    font-weight: 700;
    padding: 0 10px;
}

.sec9-text2 P {
    color: #1b2427;
    padding: 0 10px;
}

.sec9-text2 a {
    color: #1b2427;
    border-bottom: 5px solid #f2920b;
    margin: 20px 10px;
}

.main-bg {
    background-color: #1b2427;
}

.sec10-bg {
    background-color: #2a3b40;
    padding: 50px 0;
    text-align: center;
}

.icon i {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 10px 0;
}

.sec10-text1 p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #ffffff;
    padding: 10px 0;
    font-size: 20px;
}

.sec10-text2 ul li {
    display: inline-block;
    font-size: 28px;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.sec11-bg {
    background-color: #ffffff;
    opacity: 0.720;
    padding: 70PX 0;
}

.sec10-text2 i {
    padding: 0 10px;
}

.sec11-text1 p {
    width: 70%;
    padding: 10px 0;
    font-size: 18px;
}

.sec11-text1 {
    padding: 0 10px;

}

.sec11-text1 h2 {
    color: #2c3a42;
    font-size: 20px;
    font-weight: 900;
    /* padding: 0 10px; */
    /* text-align: center; */
}

.sec11-text1 ul li {
    font-size: 18px;
    padding: 5px 0;

}



.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.col-15 {
    width: 100%;
}

.col-25 {
    width: 100%;
}

.col-28 {
    width: 100%;
}

.col-40 {
    width: 100%;
}

.col-50 {
    width: 100%;
}

.col-60 {
    width: 100%;
}

#page {
    display: grid;
    /* width: 1000px; */
    /* height: 250px; */
    grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4"
        "box5"
        "box6"
        "box7"
        "box8"
        "box9"
        "box10"
        "box11"
        "box12";
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: 250px;

}
@media (min-width: 576px) {
    .container { width: 540px; }
    .col-15 { width: 30%; }
    .col-25 { width: 50%; }
    .col-28 { width: 50%; }
    .col-40 { width: 50%; }
    .col-50 { width: 100%; }
    .col-60 { width: 100%; }
    #page { grid-template-areas:
            "box1 box2"
            "box1 box2"
            "box5 box6"
            "box7 box8"
            "box9 box10"
            "box11 box12";
        grid-template-columns: 200px 200px;
    }
    .header-bg1 { height: 800px; }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
    
.menu-right ul li {
    display: inline-block;
}
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }
}